

  body {
    font-family: 'Inter', sans-serif;
    color: #2c2c2c;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: #c5bde0;
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  
  .container {
    background-color: white;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
    max-width: 500px;
    width: 90%;
  }
  
  
  h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }

  h1{
    font-size: 2em;
  }
  
 

  button {
    background-color: #6200ea;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #5e00d9;
  }
  
  input[type="text"],
  input[type="time"],
  input[type="date"] {
    width: 60%;
    padding: 0.75rem;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    background-color: #f0f0f5;
  }
  
  form label {
    display: block;
    font-weight: 600;
    color: #6200ea;
  }
  
  form {
    margin-top: 1rem;
  }
  