body, #welcome-page{
    display: flex;
    justify-content: center;
}

body{
    background-color: #191825;
    margin: 0px,
    font-family: Roboto;
}

#welcome-page{
    background-color: white;
    width: 33.3%;
    height: 90vh;

    border-radius: 15px;
}

#authorize_button{
    background-color: #6c44e3;
    color: white;
    font-size: 1.5em;
    border-radius: 10px%;
}
  