  
 /* BODY */
 html, body {
    height: -webkit-fill-available;
    overflow-y: hidden;
  }
  

 body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-size: 1rem;

    background: repeating-linear-gradient(
        -45deg,
        #1a1a2e,
        #1a1a2e 12%,
        #22234a 12%,
        #22234a 24%,
        #2e2c68 24%,
        #2e2c68 36%,
        #3d38a2 36%,
        #3d38a2 48%
      );
      background-size: 300% 300%;
      animation: gradientBG 40s linear infinite;
}


/* General Layout Styles */
#welcome-page {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}
  
  /* Welcome Page Heading */
  #welcome-page h1 {
    font-size: 4.1em; /* 70px */
    font-weight: 800;
    letter-spacing: 0.08em;

    color:white
}
  
  /* SIGN IN BUTTON */
  #authorize_button {
    min-width: 550px;
    min-height: 170px;

    padding-left: 30px;
    padding-right: 30px;

    border: none;
    border-radius: 95px;

    font-size: 1.9em;
    font-weight: 500;

    /*background-color: rgb(211, 49, 111);*/
    background-color: rgb(37, 196, 207)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             ;
    color: white;
    
    cursor: pointer;
  }
  
  #authorize_button:hover {
    background-color: #5936c8; /* Optional hover effect */
  }
  
  @keyframes gradientBG {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 100%;
    }
  }